/*CSS página inicial*/
.conteudoIndex{
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("../img/capa.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.imagemCapa{
  height: 70%;
  width: 100%;
  border-bottom: solid 20vh #000035;
  border-left: solid 100vw transparent;
  opacity: 0.9;
}

.BaseTextoCapa{
  height: 30%;
  background-color: #000035;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textoCapa{
  width: 45%;
  text-align: center;
}

.textoDestaqueLaranja{
  color: white;
  background-color: orange;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
}

.textoBranco{
  color: white;
  font-size: 1em;
  text-align: justify;
}

.titulo{
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: fixed;
  padding-top: 15vh;
}

.textoDestaqueAzul{
  width: 25%;
  margin: auto;
  color: #000035;
  font-size: 2.5em;
  text-align: center;
  font-weight: 700;
  border-bottom: solid 5px orange;
}

.textoAzul{
  margin: auto;
  color: #000035;
  font-size: 2em;
  text-align: center;
}

/*-----------------------------------------------------------------*/

/*CSS configurando o SVG*/
svg {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1%;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.estados:hover{
  cursor: pointer;
}

.land{
  fill: #666;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.land:hover{
  fill: orange;
}

/*-----------------------------------------------------------------*/

/*CSS Buscar por Estado*/
.conteudo{
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 5px;
}

/*-----------------------------------------------------------------*/

.base-flex{
  height: 100%;
  width: 100%;
  display: flex;
}

.base-objeto{
  width: 45%;
  height: 100%;
  align-items: center;
  position: relative;

}

.base-resultado{
  width: 55%;
  height: 100%;
  overflow: auto;
  align: center;
}

.base-tabela{
  overflow: auto;
}

.topo-detalhes{
  width: 100%;
}

.base-detalhes{
  margin-top: 2%;
  width: 100%;
  display: block;
}


.linhaImg{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

.texto{
  margin: 2%;
  width: 90%;
  display: flex;
  align-content: center;
}

.imagem{
  width: 15%;
  height: 15%;
  cursor: pointer;
  margin: 2%;
}
