.conteudo{
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 5px;
}

.base-flex{
  height: 100%;
  width: 100%;
  display: flex;
}

.base-objeto{
  width: 45%;
  height: 100%;
  align-items: center;
  position: relative;

}

.base-resultado{
  width: 55%;
  height: 100%;
  overflow: auto;
  align: center;
}

.base-tabela{
  overflow: auto;
}

.topo-detalhes{
  width: 100%;
}

.base-detalhes{
  margin-top: 2%;
  width: 100%;
  display: block;
}

.estados:hover{
  cursor: pointer;
}

.land{
  fill: #666;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.land:hover{
  fill: orange;
}

.linhaImg{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}

.texto{
  margin: 2%;
  width: 90%;
  display: flex;
  align-content: center;
}

.imagem{
  width: 15%;
  height: 15%;
  cursor: pointer;
  margin: 2%;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1%;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
