.base-flex{
  display: flex;
  align: stretch;
  padding-top: 10vh;
}

.p45{
  width: 45vw;
}

.land{
  fill: #666;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

.land:hover{
  fill: orange;
}
